@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");

html {
    background-color: rgba(22,20,21);
}

h1 {
  font-size: 40px; 
  color: black 
}
img {
    width:5%;
    height:5%;
    border-radius: 30%;
    border: 1px solid white;
}

th, td {
    border: 3px solid lime; 
    border-radius: 10px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.pfp{
    position: relative;
    top: 0px;
    left: 0px;
    float: left;
    width: 60%;
    height: 20%;
    padding: 3px;
    display:block;
    
}
.image-container {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
}
.body-text-header {
    margin-top: 30px;
    margin-right:0px;
    font-size: 40px;
    font-style: italic;
}
.body-text {
    font-size: 25px;
    color:lightslategray;
    margin-top: 40px;
    margin-left:140px;
}
.text {
    size: 22px;
    font-family: 'Titillium Web';
    color: white;
}
.side-panel {
    background-color:rgb(51,51,51);
    width:110px;
    height: 200vh;
    position: fixed;
    left: 0;
    top: 0;
    display:flex;
    flex-direction: column;
}

.side-icon {
    border: 2px solid black;
    background-color:white;
    z-index: 1;
    margin-top:50px;
    width:35px;
    height:40px;
}

a {
    size:20px;
    font-family: "Titillium Web";
}
a:link {
    color:white;
    background-color: transparent;
    text-decoration: underline;
}
a:visited {
    color:white;
    background-color: transparent;
    text-decoration: underline;
}
a:hover {
    color:red;
    background-color: transparent;
    text-decoration: underline;
}
a:active {
    color:green;
    background-color: transparent;
    text-decoration: underline;
}
.typewriter h1 {
    font-weight: bold;
    overflow: hidden;
    border-right:.15em ;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    color:lime;
    animation: 
        typing 2s steps(40,end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from{width: 0;}
    to{width:100%}
}
@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: orange;}
}
