@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap");

html {
    background-color: hsl(330, 5%, 8%);
    font-family: 'Titillium Web', sans-serif;
}
body {
    margin:0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    border: 2px solid red;
    position: relative;
    left: 75px;
    display:inline-block;
    
}

.greeting {
    color: white;

}
.box {
    background-color: gray;
    display: inline-block;
    width: 70px;
    position: fixed;
    height: 100vh;
    margin-bottom: 125px;
    border: 2px solid pink;
    overflow:hidden;
}
.b1 {
    background-color: lightblue;
    border: 2px solid white;
    position: relative;
    border-radius:5px;
    margin: auto;
    margin-bottom:10px;
    border-radius: 60px;
    width: auto;
    height: auto;
    padding:10px;
}

#panel1 {
    margin-top: 30vh;
}
.typewriter h1 {
    font-weight: bold;
    overflow: hidden;
    border-right:.15em ;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: .10em;
    color:lime;
    animation: 
        typing 2s steps(40,end),
        blink-caret .75s step-end infinite;
}
@keyframes typing {
    from{width: 0;}
    to{width:100%}
}
@keyframes blink-caret {
    from, to {border-color: transparent;}
    50% {border-color: orange;}
}
