:root {
    --main-color: #00ff9f;
    --secondary-color: #00b8ff;
    --third-color: #bd00ff;
}
/* Set our font */ 

@font-face {
    font-family: 'MonaspaceArgon-Light';
    src: url('Assets/MonaspaceArgon-Light.woff') format('woff'); 
}

@font-face {
    font-family: 'MonaspaceArgon-SemiBold';
    src: url('Assets/MonaspaceArgon-SemiBold.woff') format('woff'); 
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.header-info-text {
    max-width: 100%;
    margin-bottom: 20px;
}
.introduction-header {
    align-items: left;
    justify-content: left;
}

#pfp {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px double var(--secondary-color);
    transition: transform 0.6s cubic-bezier(0.40, -0.55, 0.27, 1.55);
    transform-style: preserve-3d;
}

#intro-header {
    transition: opacity 0.5s ease-in-out;
}

#intro-descriptions { 
    transition: opacity 0.5s ease-in-out;
}


/* Set our body settings */ 
body {
    background-color: #0e1111;
    color: var(--main-color);
    font-family: 'MonaspaceArgon-Light', Arial, sans-serif;
}

h2 {
    color: var(--secondary-color);
    font-family: 'MonaspaceArgon-SemiBold', Arial, sans-serif;
}

h3 {
    color: var(--third-color);
    font-family: 'MonaspaceArgon-SemiBold', Arial, sans-serif;
}
